transformers
datasets
langchain 
sentence-transformers
setuptools
huggingface_hub
numpy
accelerate
pyyaml
torchvision                                                                           
torchaudio                                                                           
bitsandbytes>=0.39.0
accelerate>=0.16.0,<1
transformers[torch]>=4.28.1
torch>=1.13.1
sentencepiece 
scikit-learn
typing-extensions
pydantic
pillow
transformer_lens
